#calculadora {
    background-color: rgb(246, 202, 202);
    border-radius: 5px;
    padding: 1em;
    width: fit-content;
}

.numero {
    text-align: right;
}

.numero {
    margin: auto;
}

#div-boton {
    text-align: center;
} 

#calculadora div {
    margin-top: 1em;
}