<!--
p { 
    white-space:break-spaces;
 }
 -->


 pre {
    background-color: rgb(255, 255, 255);
    color: rgb(46, 20, 60);

    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;

 }



 p {
    color: blue;
 }
 